
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.stat


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.tlb
# Fortran module files
*.mod
*.smod
*.bpl
*.bpf
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*tmp*.*
# Executables
*.exe
*.out
*.app
*.log
# Pliki historii
*.~*
#KATALOGI I PLIKI TEMPOWE
CHANGELOG_RELEASE
*.zip
*.rar
*.clt
*.local___
ECR_LOG
PRINTERTEMP
IS_PRINTER_TEMP
*copy*.xml
PRINSERVER
TEMP
#NIE MOJE PROJEKTY
PODATKI
INTEGRACJARDK
__HISTORY
__RECOVERY
__astcache
MY_LIBS
WODA
TESTY
_COMMON/_JOZEK
_COMMON/_RAFAL
_INCLUDE/MANAGER
_INCLUDE/bo
_INCLUDE/W2KL61
_INCLUDE/KZKERNEL
XML_UPOM
ECONET
*.ilc
*.ild
*.ilf
*.map
*tmp*.*
*.pdi
*.copy
*.tds
INFOSYSDL/ARCH
INFOSYSDL/CHMURA
WIN32
LIBRARIES/KALULATORY
LIBRARIES/MANAGER
_LIBRARY/DOC
*.dsk
errors_log
EXE\GRIDS
DOCIMPORTER
_LIBRARY/DLL/VIDOK/
OBJ
ARCH
CHMURA

Libraries/isvaria
DBFilter*.*
Libraries/kalkulatory
_Library/packages
IsComponets*.*
*.#*
*.*#*
WZORCETEST
*.ils
*.sql
/could not open directory 'System Volume Information/': Permission denied
POWIADOMIENIA
System Volume Information
*.res
/_INCLUDE/idents.h
/_INCLUDE/isBO.h
/.gitmodules

/.gitmodules
/ECR/
/KASA/
/LIBRARY/BrainLessLabs/bun/
/.gitmodules
/.gitmodules
/.gitmodules
/KSZOB/DEBUG/LIB/KzKernel.txt
/KSZOB/DEBUG/LIB/KzKernel4Egz.txt
/KSZOB/DEBUG/LIB/KzMiniKernel.txt
/KSZOB/DEBUG/LIB/kzMiniKernel250.bak
/KSZOB/RELEASE/LIB/KzMiniKernel.txt
/KSZOB/RELEASE/LIB/kzMiniKernel250.bak
/KSZOB/RELEASE/LIB/W2KL250.txt
/KSZOB/EXE/param_error.txt
/_INCLUDE/HPPLibsTest.cpp
/_INCLUDE/HPPLibsTest.h
/_INCLUDE/Include.cbproj
/_INCLUDE/ValueObjects/PodstawoweValueObjects.hpp
/Integracja
/KSZOB/EXE/DEBUG/DKAllKsgCL.xml
/KSZOB/EXE/DEBUG/DKAllKsgSTR.xml
/ServInfoSysAP/
/EKSPERYMENTY/
KSZOB/EXE/CLIENT_DATA/
KSZOB/EXE/DEBUG/CLIENT_DATA/
sqr_last_params.ini
LIBS_JB
/KSZOB/SGEnvir/
/__KSZOB/
/KSZOB/
/NALEZNOSCI_COUNTER
/InfoSysDL/
/_COMMON/_IKONY/
*Kernel.txt
*Kernel4Egz.txt
*.bak
*log.xml
*error.txt
DKAllKsgCL.xml
DKAllKsgSTR.xml
~*.xml
/RELEASE/LIB/W2KL250.txt
USWS.dll.config
*.orig
